/* general rules */

html,
body,
div,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.main-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
}

/* .heading-section, */
.recent-works,
.about-me-section,
.programming-languages,
.contact-section,
.header-navbar {
  padding: 0 24px;
}

p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  height: 48px;
  border: none;
}

nav button {
  background: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #fff5e1;
  color: #ff5800;
  border: 2px solid #ff6b00;
}

button:active {
  background-color: #e05304;
  border: 2px solid #ff6b00;
  color: #f4f1f0;
}

button:disabled {
  background-color: #f4f1f0;
}

h1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

ul {
  list-style-type: none;
}

/* header section */
header {
  background-color: #3e3c3c;
}

button img {
  width: 20px;
  height: 13px;
}

.apply-flex {
  display: flex;
}

.header-navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.hamburger-btn {
  display: block;
}

.burger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.hamburger-btn.active .burger-bar:nth-child(2) {
  opacity: 0;
}

.hamburger-btn.active .burger-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #67798e;
}

.hamburger-btn.active .burger-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #67798e;
}

.header-nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  width: 100%;
  text-align: left;
  transition: 0.3s;
  background-color: #3e3c3c;
}

.header-nav-item {
  margin: 16px 0;
}

.header-nav-menu.active {
  left: 0;
  height: 100vh;
}

/* headline section */
.heading-section {
  background-color: #1c1a19;
  padding: 100px 0 0 20px;
}

.heading-details {
  padding-right: 34px;
}

.heading-wrapper {
  display: flex;
  height: 600px;
  flex-direction: column;
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;

  /*  margin-top: 50px; */
  padding-left: 6px;
  padding-right: 10px;
}

.header-brand-name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.heading-section h3 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.heading-section p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

footer li {
  margin-right: 2px;
  color: #505f79;
}

footer ul {
  border-top: 2px solid #dfe1e6;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.heading-section > ul {
  align-items: center;
}

.heading-section li {
  margin: 0 0 12px 12px;
}

/* recent recent-works section */
.recent-works {
  display: grid;
  grid-template-columns: auto;
}

.recent-works h2 {
  text-align: center;
  color: #1c1a19;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.border-recent-works hr {
  border: 1px solid #212121;
}

.main-project-image {
  background: url("images/worksImg.png") no-repeat;
  object-fit: cover;
  width: 327px;
  height: 237px;
  margin-top: 80px;
}

.recent-works h3 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.recent-works li {
  margin: 12px 12px 12px 0;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  padding: 10px 12px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.recent-works > button {
  width: 124px;
}

.item {
  background-image: url("images/projectBg-img.png");
  margin-top: 24px;
}

.item > h3,
.item > p,
.item > ul {
  color: #fff;
  margin: 12px;
}

.item li {
  background-color: rgb(255 255 255 / 24%);
}

.item > button {
  width: 100%;
}

/* about me section */
.about-section {
  background-color: #1c1a19;
  margin-top: 120px;
}

.about-me-section {
  background-image: url("images/about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.about-me-section h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me-section > p {
  color: #fff;
}

.about-me-section button {
  width: 161px;
}

.border-about-me-section {
  border-bottom: 1px solid #fff;
  margin-top: 201px;
}

/* programming-languages section */
.programming-languages {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 0;
}

.programming-languages h4 {
  display: list-item;
  text-align: center;
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
}

.programming-languages h4::marker {
  color: #ff6b00;
}

.programming-languages li {
  text-align: center;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.modal-menu-links li {
  margin-bottom: 20px;
  font-family: Inter, cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  display: flex;
  align-items: center;
  color: #fff5e1;
}

.header-nav-menu.active li {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 15px 24px;
  border-bottom: 2px solid #6f6c6b;
}

.header-nav-menu.active li a {
  color: #fff5e1;
}

h4.frames::marker {
  content: "\25AA   ";
  margin-right: 10px;
}

h4.languages::marker {
  content: "\2666   ";
}

h4.my-skills::marker {
  content: "\25cf   ";
}

/* contact section */
.contact-section {
  flex-direction: column;
  color: #262626;
}

.contact-section h3 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form * {
  margin: 12px 0;
}

/* add display: none to all form labels */
.form label {
  display: none;
}

.contact-section input {
  border: none;
  width: 100%;
  border-bottom: 1px solid #dbd8d7;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 14px 0;
}

.contact-section textarea {
  width: 100%;
  border: none;
  background-color: #fbf8f7;
  padding: 12px;
  height: 114px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.form button {
  justify-content: center;
}

.bottom-border {
  width: 50%;
  border-bottom: 2px #0d151e solid;
  border-radius: 10px;
  margin: 12px auto;
  align-self: center;
}

input[name="user_fullname"] {
  display: block;
}

input[name="first_name"],
input[name="last_name"] {
  display: none;
}

.full-name {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

/* footer section */
footer {
  margin-top: 120px;
}

.mobile {
  display: contents;
}

.desktop {
  display: none;
}

.opacity {
  opacity: 0;
}

/* Desktop version */

@media screen and (min-width: 768px) {
  .main-container {
    width: 100%;
    margin: 0;
  }

  .recent-works,
  .about-me-section,
  .programming-languages,
  .contact-section,
  .header-navbar {
    padding: 0 156px;
  }

  .opacity {
    opacity: 100;
  }

  .hamburger-btn {
    display: none;
    cursor: pointer;
  }

  .header-brand-name {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    width: 37%;
  }

  .header-nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    position: static;
  }

  .heading-wrapper {
    background-image: none;
  }

  .heading-section {
    background-image: url("images/header.png");
    background-repeat: no-repeat;
    display: flex;
    background-position: right;
    flex-direction: row-reverse;
    align-items: center;
    height: 870px;
    justify-content: flex-end;
  }

  .heading-section ul {
    flex-direction: column;
    position: absolute;
    top: 450px;
  }

  .animation li {
    background-color: #333;
    color: #fff;
    text-align: center;
    transition: all 0.5s ease-out;
  }

  .programming-languages li {
    text-align: left;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
  }

  .heading-section ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .animation li:hover {
    background-color: #fff;
    color: #333;
  }

  .heading-details {
    width: 35vw;
    padding-left: 82px;
  }

  .recent-works {
    grid-template-columns: auto auto auto;
    column-gap: 24px;
  }

  .heading-recent-works,
  .main {
    grid-column: 1/4;
  }

  .item button {
    display: none;
  }

  .border-recent-works {
    margin: auto 0;
  }

  .heading-recent-works {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .about-me-section {
    background-image: url("images/desktopImg-aboutMe.png");
    background-position: right;
  }

  .about-me-section > h2,
  .about-me-section > p {
    width: 35vw;
  }

  .programming-languages {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .contact-section {
    flex-direction: row;
    color: #262626;
  }

  .contact-section h3 {
    width: 40vw;
    margin-right: 24px;
    text-align: start;
  }

  #name {
    display: none;
  }

  .main-project-image {
    float: left;
    width: 50%;
    background-repeat: no-repeat;
    margin-top: 32px;
  }

  .project-details {
    float: right;
    width: 50%;
  }

  .item:hover {
    background-image: url("images/project-hover.png");
    position: relative;
  }

  .project-item:hover ul,
  .project-item:hover p,
  .project-item:hover h3 {
    display: none;
  }

  .project-item:hover > .btn-recent-works {
    display: block;
    position: absolute;
    bottom: 0;
  }

  input[name="user_fullname"] {
    display: none;
  }

  input[name="first_name"],
  input[name="last_name"] {
    display: block;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: contents;
  }

  .bottom-border {
    display: none;
  }

  .button-trans:hover {
    color: #ff5800;
    transition-duration: 1s;
    transition-delay: 1s;
  }
}

/* MODAL MENU MOBILE */

#modal-menu {
  display: none;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 57px;

  /* Theme 3 / Neutral 2 */

  background: #3c3a39;
  mix-blend-mode: normal;

  /* Base/ Soft */

  box-shadow: 0 48px 48px rgb(37 47 137 / 8%);
  top: 0;
}

.modal-header {
  color: #fff;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  font-size: 42px;
  margin: 2% 5% 0 0;
}

.modal-menu-links {
  padding: 0 24px;
}
