/* general rules */

html,
body,
div,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.main-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
}

/* .heading-section, */

p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  background: #ff6b00;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  height: 48px;
  border: none;
  transition: all 0.5s ease-out;
}

nav button {
  background: transparent;
  border: none;
  cursor: pointer;
}

img {
  border-radius: 24px;
}

button:hover {
  cursor: pointer;
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

button:active {
  background-color: #e05304;
  border: 2px solid #ff6b00;
  color: #f4f1f0;
}

button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

h1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

ul {
  list-style-type: none;
}

/* header section */
header {
  background-color: #3e3c3c;
}

button img {
  width: 20px;
  height: 13px;
}

.apply-flex {
  display: flex;
}

.header-navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.hamburger-btn {
  display: block;
}

.burger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.hamburger-btn.active .burger-bar:nth-child(2) {
  opacity: 0;
}

.hamburger-btn.active .burger-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #67798e;
}

.hamburger-btn.active .burger-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #67798e;
}

.header-nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  width: 100%;
  text-align: left;
  transition: 0.3s;
  background-color: #3e3c3c;
}

.header-nav-item {
  margin: 16px 0;
}

.header-nav-menu.active {
  left: 0;
  height: 100vh;
}

/* headline section */
.heading-section {
  background-color: #1c1a19;
  padding: 100px 0 0 20px;
}

.heading-details {
  padding-right: 34px;
}

.heading-wrapper {
  display: flex;
  height: 600px;
  flex-direction: column;
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding-left: 6px;
  padding-right: 10px;
}

.header-brand-name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.heading-section h3 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.heading-section p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

footer li {
  margin-right: 2px;
  color: #505f79;
}

footer ul {
  border-top: 2px solid #dfe1e6;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.heading-section > ul {
  align-items: center;
}

.heading-section li {
  margin: 0 0 12px 12px;
}

/* recent works-section section */
.works-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 24px;
  padding-top: 120px;
  margin-bottom: 100px;
}

.works-section .title {
  font-family: "Crete Round", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  border-bottom: 1px solid #212121;
  padding-bottom: 40px;
  margin-bottom: 80px;
}

.first-project {
  width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-project .sub-title {
  font-family: "Crete Round", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  padding-top: 24px;
  padding-bottom: 12px;
}

.first-project .description {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.first-project .technologies {
  margin-top: 22px;
  margin-bottom: 34px;
  display: flex;
}

.programming-languages li {
  text-align: center;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.modal-menu-links li {
  margin-bottom: 20px;
  font-family: Inter, cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.first-project .technologies li {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  padding: 10px;
  margin-right: 12px;
  border: 1px solid #8993a4;
}

.first-project button {
  background: #ff6b00;
  width: fit-content;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  border: none;
}

.works-card {
  margin-top: 24px;
  display: grid;
  justify-items: center;
}

.card {
  background-image: url("images/works-card-image-mobile.png");
  background-repeat: no-repeat;
  height: 386px;
  width: 327px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 84px;
}

.card h4 {
  font-family: "Crete Round", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0 16px;
}

.card p {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 295px;
  margin: 2px 16px;
}

.card .technologies {
  padding: 16px;
  display: flex;
}

.card .technologies li {
  background: rgb(255 255 255 / 24%);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  margin-right: 10px;
  padding: 10px;
}

.card button {
  background: #ff6b00;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  padding: 12px 0;
  margin-top: 20px;
  width: 100%;
}

/* about me section */
.about-section {
  background-color: #1c1a19;
  margin-top: 120px;
  padding: 0 24px;
}

.about-me-section {
  background-image: url("images/about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.about-me-section h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me-section > p {
  color: #fff;
}

.about-me-section button {
  width: 161px;
}

.border-about-me-section {
  border-bottom: 1px solid #fff;
  margin-top: 201px;
}

/* programming-languages section */
.programming-languages {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 0;
}

.programming-languages h4 {
  display: list-item;
  text-align: center;
  font-family: InaiMathi, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
}

.programming-languages h4::marker {
  color: #ff6b00;
}

.header-nav-menu.active li {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 15px 24px;
  border-bottom: 2px solid #6f6c6b;
}

.modal .links a {
  background: #ff6b00;
  color: #fff;
  padding: 12px;
  margin-right: 20px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.header-nav-menu.active li a {
  color: #fff5e1;
}

h4.frames::marker {
  content: "\25AA   ";
  margin-right: 10px;
}

h4.languages::marker {
  content: "\2666   ";
}

h4.my-skills::marker {
  content: "\25cf   ";
}

/* contact section */
.contact-section {
  flex-direction: column;
  color: #262626;
  padding: 0 24px;
}

.contact-section h3 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form * {
  margin: 12px 0;
}

/* add display: none to all form labels */
.form label {
  display: none;
}

.contact-section input {
  border: none;
  width: 100%;
  border-bottom: 1px solid #dbd8d7;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 14px 0;
}

.contact-section textarea {
  width: 100%;
  border: none;
  background-color: #fbf8f7;
  padding: 12px;
  height: 114px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.form button {
  justify-content: center;
}

.bottom-border {
  width: 50%;
  border-bottom: 2px #0d151e solid;
  border-radius: 10px;
  margin: 12px auto;
  align-self: center;
}

input[name="user_fullname"] {
  display: block;
}

input[name="first_name"],
input[name="last_name"] {
  display: none;
}

.full-name {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

/* footer section */
footer {
  margin-top: 120px;
}

.mobile {
  display: contents;
}

.desktop {
  display: none;
}

.opacity {
  opacity: 0;
}

/* Desktop version */

@media screen and (min-width: 768px) {
  .main-container {
    width: 100%;
    margin: 0;
  }

  .works-section,
  .about-me-section,
  .programming-languages,
  .contact-section,
  .header-navbar {
    padding: 0 156px;
  }

  .opacity {
    opacity: 100;
  }

  .hamburger-btn {
    display: none;
    cursor: pointer;
  }

  .header-brand-name {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    width: 37%;
  }

  .header-nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    position: static;
  }

  .heading-wrapper {
    background-image: none;
  }

  .heading-section {
    background-image: url("images/header.png");
    background-repeat: no-repeat;
    display: flex;
    background-position: right;
    flex-direction: row-reverse;
    align-items: center;
    height: 870px;
    justify-content: flex-end;
  }

  .heading-section ul {
    flex-direction: column;
    position: absolute;
    top: 450px;
  }

  .animation li {
    background-color: #333;
    color: #fff;
    text-align: center;
    transition: all 0.5s ease-out;
  }

  .programming-languages li {
    text-align: left;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
  }

  .heading-section ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .animation li:hover {
    background-color: #fff;
    color: #333;
  }

  .heading-details {
    width: 35vw;
    padding-left: 82px;
  }

  .about-me-section {
    background-image: url("images/desktopImg-aboutMe.png");
    background-position: right;
  }

  .about-me-section > h2,
  .about-me-section > p {
    width: 35vw;
  }

  .programming-languages {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .contact-section {
    flex-direction: row;
    color: #262626;
  }

  .contact-section h3 {
    width: 40vw;
    margin-right: 24px;
    text-align: start;
  }

  .main-project-image {
    float: left;
    width: 50%;
    background-repeat: no-repeat;
    margin-top: 32px;
  }

  .item:hover {
    background-image: url("images/project-hover.png");
    position: relative;
  }

  input[name="user_fullname"] {
    display: none;
  }

  input[name="first_name"],
  input[name="last_name"] {
    display: block;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: contents;
  }

  .bottom-border {
    display: none;
  }

  .button-trans:hover {
    color: #ff5800;
    transition-duration: 1s;
    transition-delay: 1s;
  }

  /* Desktop Popup */
  .popup {
    align-items: center;
    padding: 90px 60px 360px 60px;
  }

  .modal {
    display: flex;
    justify-self: center;
    width: 100%;
    padding: 24px;
  }

  .modal .technologies {
    font-weight: 500;
  }

  .modal .technologies .list {
    padding: 10px;
  }

  .modal .wrapper {
    display: flex;
  }

  .wrapper .popup-image {
    width: fit-content;
    margin-right: 15px;
  }

  .modal .description {
    width: 305px;
    margin-top: 30px;
  }

  .modal .content {
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal .content .links {
    margin-top: 10px;
  }

  .modal .links a {
    margin-right: 10px;
  }

  /* End of desktop popup */

  /* Mobile menu */
  .nav-item {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-right: 0;
    padding-left: 0;
  }

  /* End of mobile menu */

  /* header */
  .menu {
    display: none;
  }

  .header {
    margin: 0;
    max-width: 100%;
    padding: 24px 30px;
    display: flex;
    justify-content: space-between;
  }

  .nav-items {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
  }

  /* headline */
  .headline {
    max-width: 100%;
    background-image: url("images/Illustration-header@0.5x.png");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    margin: 0;
    padding-top: 0;
    justify-content: center;
  }

  .headline p {
    padding-right: 260px;
  }

  /* Work section */
  .works-section {
    max-width: 100%;
  }

  .works-section .work-title {
    width: 85%;
    display: flex;
    justify-items: baseline;
    margin-bottom: 85px;
    border-bottom: none;
  }

  .work-title .title {
    padding-right: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  .work-title .border-right {
    display: flex;
    flex: 1;
    height: 0;
    margin-top: 26px;
    border-bottom: 1px solid #212121;
  }

  .first-project {
    min-width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .first-project .content .sub-title {
    font-size: 26px;
    line-height: 24px;
    padding-top: 0;
  }

  .first-project .content .description {
    font-size: 13px;
    line-height: 22px;
  }

  .first-project .technologies {
    margin-top: 20px;
    margin-bottom: 13px;
  }

  .first-project .technologies li {
    font-size: 10px;
    line-height: 20px;
  }

  .first-project button {
    font-size: 12px;
    line-height: 10px;
  }

  .first-project .project-image-mobile {
    padding-right: 10px;
  }

  /* About me section */

  .about-me {
    max-width: 100%;
    background-image: url("images/illustration-about-me@0.5x.png");
    background-repeat: no-repeat;
    background-position: 100% 20%;
    padding-left: 65px;
    margin-top: 0;
  }

  .about-me .introduction {
    padding-bottom: 0;
    border-bottom: none;
  }

  .about-me h4 {
    line-height: 82px;
  }

  .about-me .content {
    font-size: 16px;
    line-height: 29px;
    max-width: 400px;
  }

  .about-me .profession {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    border-top: 1px solid #fff;
    padding-top: 80px;
  }

  .profession .profession-lists {
    display: flex;
    align-items: flex-start;
  }

  @media screen and (min-width: 1024px) {
    /* Popup window */
    .popup {
      padding: 90px 112px 360px;
    }

    .modal .description {
      width: 400px;
    }

    /* End of popup window */

    /* headline */
    .headline {
      background-image: url("images/Illustration-header@1x.png");
      background-repeat: no-repeat;
      background-position: 100% 75%;
      height: 80vh;
      margin: 0;
      padding-top: 0;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    .headline .content h1 {
      font-size: 72px;
      line-height: 82px;
    }

    .headline .content h2 {
      font-weight: 500;
      font-size: 32px;
      line-height: 44px;
    }

    .headline .content p {
      width: 43%;
      font-size: 20px;
      line-height: 32px;
    }

    .headline ul {
      flex-direction: column;
      padding: 0 60px 0 0;
    }

    .headline ul li {
      padding: 5px;
    }

    /* Header */
    .header {
      padding: 24px 150px;
    }

    /* Work section */

    .project-image-mobile {
      display: none;
    }

    .project-image-desktop {
      display: flex;
      margin-right: 16px;
    }

    .first-project {
      min-width: 85%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-items: center;
    }

    .first-project .content .sub-title {
      font-size: 40px;
      line-height: 52px;
      padding-top: 0;
    }

    .first-project .content .description {
      font-size: 20px;
      line-height: 28px;
    }

    .first-project .technologies li {
      font-size: 15px;
    }

    .first-project button {
      font-size: 17px;
      line-height: 24px;
      margin-top: 15px;
    }

    /* Project cards */

    .works-card {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 30px;
    }

    .works-card button {
      display: none;
    }

    .card {
      width: 369px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 0;
    }

    .card-1 {
      background-image: url("./images/card-1.png");
    }

    .card-1 h4,
    .card-1 .project.description,
    .card-1 ul {
      display: none;
    }

    .card-1 button {
      display: flex;
      justify-content: center;
    }

    .card:hover button {
      display: flex;
      justify-content: center;
    }

    .card-2 {
      background-image: url("./images/card-2.png");
    }

    .card-3 {
      background-image: url("./images/card-3.png");
    }

    .card-4 {
      padding-top: 0;
      background-image: url("./images/card-4.png");
    }

    /* about me section */
    .about-me {
      background-image: url("images/illustration-about-me@1x.png");
      background-position: 100% 10%;
    }

    /* Contact form  */

    .contact-form {
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-items: baseline;
      align-items: baseline;
      padding-left: 100px;
    }

    .contact-form .content {
      width: 341px;
      text-align: left;
    }

    .contact-form form ul {
      align-items: flex-start;
    }

    input,
    textarea {
      width: 40vw;
    }

    textarea {
      height: 80px;
    }
  }

  @media screen and (min-width: 1440px) {
    .works-card {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 24px;
    }

    /* About me section */

    .about-me .content {
      font-size: 20px;
      line-height: 32px;
      max-width: 566px;
    }
  }

  /* Footer section */

  footer {
    max-width: 100%;
    border-top: 1px solid #dfe1e6;
  }

  footer .border-bottom {
    display: none;
  }
}

/* MODAL MENU MOBILE */

#modal-menu {
  display: none;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 57px;

  /* Theme 3 / Neutral 2 */

  background: #3c3a39;
  mix-blend-mode: normal;

  /* Base/ Soft */

  box-shadow: 0 48px 48px rgb(37 47 137 / 8%);
  top: 0;
}

.modal-header {
  color: #fff;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  font-size: 42px;
  margin: 2% 5% 0 0;
}

.modal-menu-links {
  padding: 0 24px;
}

/* Items to be displayed none in mobile */
.nav-items {
  display: none;
}

.project-image-desktop {
  display: none;
}

/* button styling */

button:enabled {
  color: #fff;
  background: #f55800;
}

button:visited {
  color: #f4f1f0;
  background: #e05304;
}

/* Mobile Popup Window */
.blur {
  filter: blur(8px);
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 60px 20px 0;
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100%;
  top: 0;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
}

.cancel-icon {
  cursor: pointer;
}

.modal {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.modal .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.modal .cancel-icon {
  display: flex;
  align-self: flex-start;
}

.modal .title .name {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.modal .technologies {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #3c3a39;
  display: flex;
}

.modal .technologies .list {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #dfe1e6;
}

.modal .popup-image {
  width: 100%;
  margin: 34px 0 20px;
  border-radius: 24px;
}

.modal .description {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 16px;
}

.modal .content .links {
  display: flex;
}

.modal .links .link {
  margin-left: 10px;
}

.popup .modal .links {
  display: flex;
}

.link-pointer {
  cursor: pointer;
}
