@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body,
html {
  margin: 0;
  padding: 0;
}

/* header section */
header {
  background: #3c3c3c;
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

header a {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-left: 6%;
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  text-decoration: none;
}

nav {
  margin-right: 6%;
  margin-bottom: auto;
  align-self: flex-end;
  margin-top: auto;
}

button {
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  height: 48px;
  border: none;
}

nav button {
  background: transparent;
  border: none;
  cursor: pointer;
}

button img {
  width: 20px;
  height: 13px;
}

.flex {
  display: flex;
}

button:hover {
  background-color: #fff5e1;
  color: #ff5800;
  border: 2px solid #ff6b00;
}

button:active {
  background-color: #e05304;
  border: 2px solid #ff6b00;
  color: #f4f1f0;
}

button:disabled {
  background-color: #f4f1f0;
}

/* headline section */
main {
  bottom: 0;
  top: 0;
}

.container {
  background-color: #1c1c1c;
  padding: 0 24px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  background-image: url(images/Group.png);
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

h1 {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-size: 52px;
  height: 110px;
  align-self: flex-start;
  left: 24px;
  margin-top: 0 0 16px 0;
  padding-top: 110px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #fff;
  display: block;
  font-weight: 700;
  margin: 0;
  align-self: flex-start;
}

div p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  margin-bottom: 0;
  font-size: 15px;
  display: block;
  align-self: flex-start;
}

.socials {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-left: 22px;
  margin-top: 0;
  align-self: flex-start;
}

footer li {
  color: #505f79;
  margin: 0 auto;
  cursor: pointer;
  justify-content: center;

  /* Auto layout */
  display: list-item;
  flex-direction: row;
  align-items: center;
  align-self: center;
  align-content: center;
  border-radius: 8px;

  /* Inside auto layout */

  order: 4;
  flex-grow: 0;
}

.socials li {
  margin: 22px 22px 0 0;
  display: list-item;
  cursor: pointer;
  align-self: flex-start;
}

/* Work section */

.all-projects {
  display: grid;
  background-color: #fff;
  grid-template-columns: 24px auto 24px;
  row-gap: 24px;
}

.all-projects > * {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.heading h3 {
  color: #1c1a19;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  height: 50px;
  margin-top: 120px;
}

.heading #line {
  margin-left: inherit;
  margin-top: 0;
  margin-bottom: 50px;
}

.main-project img {
  height: 237px;
  top: 307px;
}

.details h2 {
  margin-top: 13px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.details p {
  height: 125px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
  color: #091e42;
}

#programming-languages {
  display: flex;
  padding: 0;
  list-style: none;
}

.programming-languages li {
  margin-right: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 12px;
  color: #fff;
}

#programming-languages li {
  height: 20px;
  margin-right: 12px;
  padding: 10px 12px 10px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #8993a4;
  color: #091e42;
}

.project-one {
  width: 124px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  color: #fff;
  background: #ff6a00e5;
}

.projects {
  background-image: url(images/background-img.png);
  height: 386px;
  margin-bottom: 24px;
}

.projects h2 {
  height: 81px;
  margin-top: 84px;
  margin-left: 16px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.projects p {
  height: 87px;
  margin-top: 12px;
  margin-left: 16px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

footer ul {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  align-self: center;
}

.projects ul {
  margin-left: 16px;
  margin-top: 0;
}

.programming-languages {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.programming-languages > * {
  font-style: normal;
  font-weight: 500;
  background: rgba(202, 194, 194, 0.24);
}

.project-btn {
  background: #ff6b00;
  border: none;
  height: 50px;
  left: 0;
  top: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: white;
}

.about-me {
  margin-top: 0;
  padding-top: 0;
  height: 700px;
  background: #1c1a19;
  background-image: url(images/about.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
}

.about-me h2 {
  height: 79px;
  margin-top: 120px;
  margin-left: 6px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 88px;
  letter-spacing: 0.35px;
  color: #ff6b00;
}

.about-me p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f4f5f7;
  padding: 12px 16px;
}

.resume-btn {
  width: 161px;
  height: 48px;
  border: none;
  margin-left: 24px;
  background: #ff6b00;
  color: #ffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 10px;
}

#second-line {
  height: 0;
  left: 0;
  right: 0;
  top: calc(50% - 0px / 2 + 0.5px);
  margin-bottom: 125px;
  border: 1px solid #fff;
  margin-top: 22px;
}

.lists {
  background: #1c1a19;
  margin-top: 250px;
}

.lists ul {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

.bold-me {
  color: white;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 30px;
  margin-top: 35px;
}

.my-skills {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  padding: 6px 0 170px 0;
}

.contact {
  position: absolute;
  padding: 12px 24px;
  top: 6498px;
}

.contact p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form * {
  margin: 12px 0;
}

.contact input {
  border: none;
  width: 100%;
  border-bottom: 1px solid #dbd8d7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 14px 0;
}

.contact textarea {
  width: 100%;
  border: none;
  background-color: #fbf8f7;
  padding: 12px;
  height: 114px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.form button {
  justify-content: center;
}

.border-butom {
  width: 50%;
  border-bottom: 2px #0d151e solid;
  border-radius: 10px;
  margin: 12px auto;
  align-self: center;
}

input[name="fullName"] {
  display: block;
}

input[name="firstName"],
input[name="lastName"] {
  display: none;
}

.fullName {
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

footer {
  margin: 300px 0 24px 0;
  display: flex;
  position: absolute;
  align-content: center;
  justify-content: center;
  top: 7100px;
}

.footer-section-end {
  display: flex;
  justify-content: center;
  position: absolute;
  align-content: center;
  align-items: center;
  width: 100%;
  top: 7300px;
}

.footer-section-end ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
}
